<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Categorias</title>
	<link rel="stylesheet" type="text/css" href="/css/update.css">
</head>
<header>
	<h1>Bebidas Alcoholicas</h1>
	<nav>
	  <ul>
		<li><a href="/productos">Volver </a></li>
		
		
	  </ul>
	</nav>
   </header>
<body>
	
    <h1 id="crear">Editar Usuario</h1>
    <main class="forms"> 
   
   <form action="/updateUser/<%=modelo.id%>" method="post">
       <div id="editorcentrall">
       
       <input type="text" name="nombre" placeholder="Nombre" required="required" value="<%=modelo.nombre%>">
   
       <input type="text" name="apellido" placeholder="Apellido" required="required" value='<%=modelo.apellido%>'>
   
      
       <input type="number" name="cedula" placeholder="Cédula" required="required"value="<%=modelo.cedula%>">
   
       
       <input type="email" name="correo" placeholder="Email" required="required" value="<%=modelo.correo%>">
   
       <input type="password" name="password" placeholder="Contraseña" required="required" value="<%=modelo.password%>">
   
       <div style='display:flex;' id='selectinput'>
           <input type="submit" value='Editar'>
           <input type="button" value='Cancelar' onclick="volver()">
       </div>
   </div>
   </form>
   <script type="text/javascript">
       function volver(){
           window.location.href='/usuarios';
       }
   </script>
   </main>
   </body>

</html>